@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Fira+Sans+Extra+Condensed&display=swap");

/* font-family: 'Fira Sans', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif; */
:root {
  --red-primary: #f44336;
  --text-color-primary: #ffffff;
  --firetype: #ff4422;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #555;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.bg-nav {
  background: var(--red-primary);
  color: var(--text-color-primary) !important;
}

a,
p,
button {
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

/*  custom nav style */
.navbar-nav .nav-item .nav-link {
  /* color: red !important; */
  position: relative;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: bottom right;
  background: #ffffff;
}

.navbar-nav .nav-item a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
/*  custom nav style */

/*  */

.search-area {
  margin: 20px 0;
  height: 80px;
  padding: 20px 0;
}

/* .pokemon-search {
  background: #5271ff;
  box-shadow: 20px 20px 61px #4159c9, -20px -20ox 61px #6389ff;
} */

/* .card {
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 20px;
  width: 5px;
  height: 150px;
  border-radius: 50px;
  transition: all 0.4s;
  background: linear-gradient(147deg, #ffe538 0%, #ff2525 74%);
}

.card:hover::before {
  top: 0;
  left: 0;
  border-radius: 0px;
  width: 100%;
  height: 100px;
} */

.card {
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 20px;
}

.pokemon-img {
  width: 200px;
}

.type {
  /* background: red; */
  color: #ffffff;
  padding: 5px;
  border-radius: 20%;
  margin-right: 2px;
  width: 50%;
  text-align: center;
  margin-right: 10px;
}

.type-container {
  width: 60%;
}

.fire-type {
  background: var(--firetype);
}

/* catch-pokemon page */
.wild-pokemon-section {
  margin: 20px 0;
  /* height: 80px; */
  padding: 20px 0;
}

.wild-pokemon-appear {
}

.btn-throw-pokeball {
  background: var(--red-primary) !important;
  border: var(--red-primary) !important;
}

.btn-throw-pokeball:hover {
  background: var(--firetype) !important;
  border: var(--firetype) !important;
}

.pokemon-img-container {
  /* background: #8cd750; */

  /*width: 200px; */
  width: 100%;
  height: 300px;
  /* background: red !important; */
}

.pokemon-img {
  width: 200px;
  /* padding-bottom: 10px; */
}

.pokeball-is-caught {
  margin-left: 5px;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.isCaught {
  width: 400px;
  left: 9px;
  position: absolute;
  margin: auto;
  top: 40px;
}

/* catch pokemon animation */
@keyframes pokemon-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes throw-ball {
  0% {
    top: 150%;
    left: 20%;
    transform: scale(0.5);
  }
  35% {
    top: 40%;
    left: 41%;
    transform: scale(1.2);
  }
  40% {
    top: 37%;
    left: 42%;
    transform: scale(1.3);
  }
  42.5% {
    top: 38.5%;
    left: 42.5%;
    transform: scale(1.3);
  }
  85% {
    top: 38.5%;
    left: 42.5%;
    transform: scale(1.3);
  }
  100% {
    top: 50%;
    left: 47.2%;
    transform: scale(1);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
/* @keyframes catch {
  0% {
    background: rgba(0, 0, 0, 0.2);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
} */
/* @keyframes star1 {
  0% {
    top: 0;
    left: 0;
    opacity: 1;
    transform: rotate(0);
  }
  40% {
    top: -70px;
    left: -30px;
    opacity: 1;
    transform: scale(1);
  }
  80% {
    top: -50px;
    left: -50px;
    opacity: 1;
    transform: rotate(-45deg) scale(1.2);
  }
  100% {
    top: -50px;
    left: -50px;
    opacity: 0;
    transform: rotate(-60deg) scale(1);
  }
}
@keyframes star2 {
  0% {
    top: 0;
    opacity: 1;
  }
  40% {
    top: -90px;
    opacity: 1;
    transform: scale(1);
  }
  80% {
    top: -70px;
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    top: -70px;
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes star3 {
  0% {
    top: 0;
    opacity: 1;
    transform: rotate(0);
  }
  40% {
    top: -70px;
    left: calc(70% + 30px);
    opacity: 1;
    transform: scale(1);
  }
  80% {
    top: -50px;
    left: calc(70% + 50px);
    opacity: 1;
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    top: -50px;
    left: calc(70% + 50px);
    opacity: 0;
    transform: rotate(60deg) scale(1);
  }
} */
@keyframes successMessage {
  from {
    opacity: 1;
    width: 0;
  }
  to {
    opacity: 1;
    width: 310px;
    /* 500 */
  }
}
@keyframes gotchaMessage {
  from {
    opacity: 1;
    width: 0;
  }
  to {
    opacity: 1;
    width: 310px;
    /* 160 */
  }
}
@keyframes throwMessage {
  from {
    opacity: 1;
    width: 0;
  }
  to {
    opacity: 1;
    width: 310px;
    /* 310 */
  }
}

.textbox-message {
  position: fixed;
  width: 90%;
}
/* .textbox-text, */
.throw,
.gotcha,
.success {
  margin-left: 5%;
  overflow: hidden;
  white-space: nowrap;
  /* letter-spacing: 5px; */
  opacity: 0;
}

.pokeball {
  width: 200px;
  position: absolute;
  top: -230px;
  /* opacity: 0; */
}

.show {
  opacity: 1;
  transition: opacity 1000ms;
}

.hide {
  opacity: 0;
  transition: opacity 1000ms;
}

.hideInit {
  opacity: 0;
  /* transition: opacity 1000ms; */
}

/* For mobile phones: */
/* @media only screen and (max-width: 768px) {
  .isCaught {
    right: 135px;
  }
} */

/* // Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) {
  .isCaught {
    position: fixed;
    right: -52px;
  }

  .textbox-message {
    position: relative;
  }
}
/* 
// Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
  .textbox-message {
    position: relative;
    text-align: center;
  }
}
